[submodule "simulation"]
	path = simulation
	url = https://github.com/roxanneluo/Pepper-s-Cone-Simulation.git
[submodule "unity"]
	path = unity
	url = git@github.com:roxanneluo/Pepper-s-Cone-Unity.git
[submodule "distortion-calibration"]
	path = distortion-calibration
	url = https://github.com/roxanneluo/Pepper-s-Cone-Distortion-Calibration.git
